
@{
    ViewBag.Title = "Site Map";
}

<div class="container">
    <div class="col-sm-12">
        <h1 class="contentPageH1">SITE MAP</h1>
        <ol class="breadcrumb">
            <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active contentp">Site Map</li>
        </ol>

        <div class="col-sm-3">
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                <li>@Html.ActionLink("News Directory", "NewsDirectory", "Home")</li>
                <li>@Html.ActionLink("Referral Program", "ReferralProgram", "Home")</li>
                <li>@Html.ActionLink("Hire a Medix Grad", "HireAMedixGrad", "Home")</li>
            </ul>
            <br />
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("DISCOVER MEDIX", "Index", "DiscoverMedix")</li>
                <li>@Html.ActionLink("Medix History", "History", "DiscoverMedix")</li>
                <li>@Html.ActionLink("Virtual Tour", "VirtualTour", "DiscoverMedix")</li>
                <li>@Html.ActionLink("Laptop Initiative", "LaptopInitiative", "DiscoverMedix")</li>
                <li>@Html.ActionLink("Transcript Request", "TranscriptRequest", "DiscoverMedix")</li>
                <li>@Html.ActionLink("Careers at Medix", "CareersAtMedix", "DiscoverMedix")</li>
                <li><a href="javascript: void(0)" onclick="popup('http://careercollegegroup.canpromo.com/Products.htm?CD=553')">Online Store</a></li>
            </ul>
        </div>


        <div class="col-sm-3">
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("ALL PROGRAMS", "AllPrograms", "Programs")</li>
                <li>@Html.ActionLink("Child & Youth Addictions", "ChildYouthAddictionsWorker", "Programs")</li>
                <li>@Html.ActionLink("Community Service Worker", "CommunityServiceWorker", "Programs")</li>
                <li>@Html.ActionLink("Developmental Service Worker", "DevelopmentalServiceWorker", "Programs")</li>
                <li>@Html.ActionLink("Early Childcare Assistant", "EarlyChildCareAssistant", "Programs")</li>
                <li>@Html.ActionLink("Intra-Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")</li>
                <li>@Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")</li>
                <li>@Html.ActionLink("Massage Therapy Advanced Standing", "MassageTherapyAdvancedStanding", "Programs")</li>
                <li>@Html.ActionLink("Medical Lab Assitant/Tech", "MedicalLabAssistantTechnician", "Programs")</li>
                <li>@Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")</li>
                <li>@Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")</li>
                <li>@Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")</li>
                <li>@Html.ActionLink("Fitness and Health Promotion", "FitnessHealthPromotion", "Programs")</li>
            </ul>
        </div>
        <div class="col-sm-3">

            <ul class="contentp ul-none">
                <li>@Html.ActionLink("ALL CERTIFICATES", "AllCertificates", "Certificates")</li>
                <li>@Html.ActionLink("ABELDent", "AbelDent", "Certificates")</li>
                <li>@Html.ActionLink("Addictions & Special Populations", "Index", "Certificates")</li>
                <li>@Html.ActionLink("Basic World Treatment", "BasicWoundTreatment", "Certificates")</li>
                <li>@Html.ActionLink("Electrocardiogram", "Electrocardiogram", "Certificates")</li>
                <li>@Html.ActionLink("Emotional First Aid", "EmotionalFirstAid", "Certificates")</li>
                <li>@Html.ActionLink("English as a Second Language", "EnglishSecondLanguage", "Certificates")</li>
                <li>@Html.ActionLink("English Skills for Healthcare Workers", "EnglishSkillsHealthcareWorkers", "Certificates")</li>

                <li>@Html.ActionLink("First Aid and CPR", "FirstAidCPR", "Certificates")</li>
                <li>@Html.ActionLink("Food Handler Safety", "FoodHandlerSafety", "Certificates")</li>
                <li>@Html.ActionLink("Home Child Care Management", "HomeChildCareManagement", "Certificates")</li>
                <li>@Html.ActionLink("Intramuscular Injections", "IntramuscularInjections", "Certificates")</li>
                <li>@Html.ActionLink("Developmental Disabilities & Services", "IntroductionDevelopmentalDisabilitiesServices", "Certificates")</li>
                <li>@Html.ActionLink("Intro to Swedish Massage", "IntroductionSwedishMassage", "Certificates")</li>
                <li>@Html.ActionLink("Phlebotomy", "Phlebotomy", "Certificates")</li>
                <li>@Html.ActionLink("Soft Tissue Back Injury Prevention", "SoftTissueBackInjuryPrevention", "Certificates")</li>
                <li>@Html.ActionLink("Urinalysis", "Urinalysis", "Certificates")</li>
            </ul>
        </div>


        <div class="col-sm-3">
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("ADMISSIONS", "Index", "Admissions")</li>
                <li>@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
                <li>@Html.ActionLink("OSAP", "OSAP", "Admissions")</li>
                <li>@Html.ActionLink("Second Career", "SecondCareer", "Admissions")</li>
                <li>@Html.ActionLink("Out of Province Options", "OutOfProvinceStudents", "Admissions")</li>
                <li>@Html.ActionLink("Student Lines of Credit", "StudentLinesOfCredit", "Admissions")</li>
                <li>@Html.ActionLink("Lifelong Learning Plan", "LifelongLearningPlan", "Admissions")</li>
                <li>@Html.ActionLink("RESP", "RegisteredEducationSavingsPlans", "Admissions")</li>
                <li>@Html.ActionLink("Employment Ontario", "EmploymentOntario", "Admissions")</li>
                <li>@Html.ActionLink("Monthly Payment Plan", "MonthlyPaymentPlan", "Admissions")</li>
            </ul>
            <br />
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("CAREER SERVICES", "Index", "CareerServices")</li>
                <li>@Html.ActionLink("Medix Advantage", "MedixAdvantage", "CareerServices")</li>
                <li>@Html.ActionLink("Job Search Tips", "JobSearchTips", "CareerServices")</li>
                <li>@Html.ActionLink("Resume Tips", "ResumeTips", "CareerServices")</li>
                <li>@Html.ActionLink("Interview Tips", "InterviewTips", "CareerServices")</li>
                <li>@Html.ActionLink("Professional Tips", "ProfessionalTips", "CareerServices")</li>
            </ul>
            <br />
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("CAMPUSES", "Index", "Campuses")</li>
                <li>@Html.ActionLink("Brampton", "Brampton", "Campuses")</li>
                <li>@Html.ActionLink("Brantford", "Brantford", "Campuses")</li>
                <li>@Html.ActionLink("Kitchener", "Kitchener", "Campuses")</li>
                <li>@Html.ActionLink("London", "London", "Campuses")</li>
                <li>@Html.ActionLink("Scarborough", "Scarborough", "Campuses")</li>
                <li>@Html.ActionLink("Toronto", "Toronto", "Campuses")</li>
            </ul>
        </div>


    </div>
</div>