
@{
    ViewBag.Title = "Site Map";
}
<br/>
<div class="container">
    <div class="col-sm-12">
        <h1 class="contentPageH1">SITE MAP</h1>
        <ol class="breadcrumb">
            <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active contentp">Site Map</li>
        </ol>

        <div class="col-sm-3">
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                <li>@Html.ActionLink("News Directory", "NewsDirectory", "Home")</li>
                <li>@Html.ActionLink("Referral Program", "ReferralProgram", "Home")</li>
                <li>@Html.ActionLink("Hire a Medix Grad", "HireAMedixGrad", "Home")</li>
            </ul>
            <br />
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("ALL PROGRAMS", "AllPrograms", "Programs")</li>
                <li>@Html.ActionLink("IT Office", "ITOffice", "Programs")</li>
                <li>@Html.ActionLink("IT Help Desk Associate", "ITHelpDeskAssociate", "Programs")</li>
                <li>@Html.ActionLink("IT Service Technician", "ITServiceTechnician", "Programs")</li>
                <li>@Html.ActionLink("IT Service Administrator", "ITServiceAdministrator", "Programs")</li>
                <li>@Html.ActionLink("IT Enterprise Professional", "ITEnterpriseProfessional", "Programs")</li>
            </ul>
        </div>


        <div class="col-sm-3">
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("CORPORATE TRAINING", "Index", "CorporateTraining")</li>
                <li>@Html.ActionLink("Corporate Promotions", "CorporatePromotions", "CorporateTraining")</li>
                <li>@Html.ActionLink("Microsoft Technical", "MicrosoftTechnical", "CorporateTraining")</li>
                <li>@Html.ActionLink("Microsoft Application", "MicrosoftApplication", "CorporateTraining")</li>
                <li>@Html.ActionLink("Cisco", "Cisco", "CorporateTraining")</li>
                <li>@Html.ActionLink("Citrix", "Citrix", "CorporateTraining")</li>
                <li>@Html.ActionLink("CompTIA", "CompTIA", "CorporateTraining")</li>
                <li>@Html.ActionLink("VMware", "VMware", "CorporateTraining")</li>
                <li>@Html.ActionLink("More Training", "MoreTraining", "CorporateTraining")</li>
            </ul>
        </div>
        <div class="col-sm-3">

            <ul class="contentp ul-none">
                <li>@Html.ActionLink("Site Map", "SiteMap", "Home")</li>
                <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home")</li>
                <li>@Html.ActionLink("Accessibility Policy", "AccessibilityPolicy", "Home")</li>
                <li>@Html.ActionLink("Careers at New Horizons", "CareersAtNewHorizons", "DiscoverNewHorizons")</li>
                <li>@Html.ActionLink("Hire a New Horizons Grad", "HireANewHorizonsGrad", "Home")</li>
                <li>@Html.ActionLink("Social Media", "SocialMedia", "Home")</li>
            </ul>
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("CAREER SERVICES", "Index", "CareerServices")</li>
                <li>@Html.ActionLink("Medix Advantage", "MedixAdvantage", "CareerServices")</li>
                <li>@Html.ActionLink("Job Search Tips", "JobSearchTips", "CareerServices")</li>
                <li>@Html.ActionLink("Resume Tips", "ResumeTips", "CareerServices")</li>
                <li>@Html.ActionLink("Interview Tips", "InterviewTips", "CareerServices")</li>
                <li>@Html.ActionLink("Professional Tips", "ProfessionalTips", "CareerServices")</li>
            </ul>
        </div>


        <div class="col-sm-3">
            <ul class="contentp ul-none">
                <li>@Html.ActionLink("ADMISSIONS", "Index", "Admissions")</li>
                <li>@Html.ActionLink("Financial Options", "FinancialOptions", "Admissions")</li>
                <li>@Html.ActionLink("OSAP", "OSAP", "Admissions")</li>
                <li>@Html.ActionLink("Second Career", "SecondCareer", "Admissions")</li>
                <li>@Html.ActionLink("Out of Province Options", "OutOfProvinceStudents", "Admissions")</li>
                <li>@Html.ActionLink("Student Lines of Credit", "StudentLinesOfCredit", "Admissions")</li>
                <li>@Html.ActionLink("Lifelong Learning Plan", "LifelongLearningPlan", "Admissions")</li>
                <li>@Html.ActionLink("RESP", "RegisteredEducationSavingsPlans", "Admissions")</li>
                <li>@Html.ActionLink("Employment Ontario", "EmploymentOntario", "Admissions")</li>
                <li>@Html.ActionLink("Monthly Payment Plan", "MonthlyPaymentPlan", "Admissions")</li>
            </ul>
            <br />

            <ul class="contentp ul-none">
                <li>@Html.ActionLink("CAMPUSES", "Index", "Campuses")</li>
                <li>@Html.ActionLink("Toronto", "Toronto", "Campuses")</li>
            </ul>
            <br />

        </div>


    </div>
</div>
<br />