@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="leftMenuWrapper col-lg-3 custom-collapse">
    <button class="btn-brand collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-discover">
        <span class="">PROGRAMS</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button class="btn-brand collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-contact">
        <span class="">Contact Us</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button class="btn-brand collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-campuses">
        <span class="">CAMPUSES</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <ul class="leftMenu list-unstyled collapse" id="side-menu-discover">
        <li class="header">Discover Medix</li>
        <li class="item">@Html.ActionLink("Discover Medix", "Index", "DiscoverMedix")</li>
        <li class="item">@Html.ActionLink("Medix History", "History", "DiscoverMedix")</li>
        <li class="item">@Html.ActionLink("Virtual Tours", "Index", "DiscoverMedix")</li>
        <li class="item">@Html.ActionLink("Laptop Initiative", "LaptopInitiative", "DiscoverMedix")</li>
        <li class="item">@Html.ActionLink("Transcript Request", "TranscriptRequest", "DiscoverMedix")</li>
        <li class="item">@Html.ActionLink("Careers at Medix", "Index", "DiscoverMedix")</li>
        <li class="item">@Html.ActionLink("Online Store", "Index", "DiscoverMedix")</li>
        <li class="item">@Html.ActionLink("Medix Photos", "Index", "DiscoverMedix")</li>
        <li class="item">@Html.ActionLink("Medix Videos", "Index", "DiscoverMedix")</li>
    </ul>
    <ul class="leftMenu list-unstyled collapse" id="side-menu-contact">
        <li class="header">Contact Medix</li>
        <li class="item" id="askQuestion">Ask a Question</li>
        <li class="item" id="requestCatalogue">Request Information</li>
        <li class="item" id="applyOnline">Apply Online</li>
    </ul>
    <ul class="leftMenu list-unstyled collapse" id="side-menu-campuses">
        <li class="header">Campuses</li>
        <li class="item">Brantford</li>
        <li class="item">Brampton</li>
        <li class="item">Kitchener</li>
        <li class="item">London</li>
        <li class="item">Scarborough</li>
        <li class="item">Toronto</li>
        <li class="item">Medix Online</li>
    </ul>
</div>
<div class="col-lg-9">
    <div class="contentHeader">
        @ViewBag.HeaderTitle
    </div>
    <div class="contentBody">
        @RenderBody()
    </div>
</div>
<div class="clearfix"></div>

<script>
    $(document).ready(function () {
        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });
    });
</script>
