@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="heroWrapper">
        @ViewBag.HeroText
    </div>
    <div class="leftMenuWrapper col-sm-3 custom-collapse">
        <button class="btn-brand-white collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-discover">
            <span class=""><span class="glyphicon glyphicon-align-justify"></span></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="leftMenu list-unstyled collapse" id="side-menu-discover">
            <li class="item header">@Html.ActionLink("ABOUT MEDIX", "Index", "DiscoverMedix")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Discover Medix", "Index", "DiscoverMedix")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Medix History", "History", "DiscoverMedix")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Virtual Tour", "VirtualTour", "DiscoverMedix")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Laptop Initiative", "LaptopInitiative", "DiscoverMedix")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Transcript Request", "TranscriptRequest", "DiscoverMedix")</li>
            <li class="item side-menu-h2">@Html.ActionLink("Careers at Medix", "CareersAtMedix", "DiscoverMedix")</li>
            <li class="item side-menu-h2"><a href="javascript: void(0)" onclick="popup('http://careercollegegroup.canpromo.com/Products.htm?CD=553')">Medix Store</a></li>


            <li class="item btn btn-brand btn-block spacer-top" id="askQuestion">Ask a Question</li>
            <li class="item btn btn-brand btn-block" id="requestCatalogue">Request Catalogue</li>
        </ul>
        <br />
    </div>


    <div class="col-sm-9 pull-right">
        <div class="contentBody">
            <div class="row bodyHeaderWrapper">
                @ViewBag.BodyHeaderText
            </div>
            <div class="row">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>

<script>
    $(document).ready(function () {
        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });
    });
</script>