@{
    Layout = "~/Views/DiscoverMedix/_DiscoverMedixLayout.cshtml";
}

@{
    ViewBag.Title = "Laptop Initiative";
    ViewBag.PageDescription = "Medix College has implemented a laptop initiative to help students enhance their computer skills while studying";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">LAPTOP EBOOK INITIATIVE</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("About Medix", "Index", "DiscoverMedix")</li>
        <li class="active contentp">Laptop eBook Initiative</li>
    </ol>
</div>

<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-heading">
            <p class="contentp">
                * Currently available at Toronto, Scarborough and Brampton Campuses
            </p>
        </div>
        <div class="panel-body">

            <p class="contentp">
                Modern Technology, particularly in the medical field has become increasingly important.  It has made

                many of our tasks easier, it has allowed us to become more efficient and it has improved

                communication and taken down barriers.

                <br /><br />

                In order to keep our students in tune with technology, Medix College is proud to have implemented a

                laptop initiative.  Computer use, continues to have a growing importance in the workforce, particularly

                in the field of healthcare. By making computers a tool of “everyday” use in our education model, we will

                be enhancing our students’ computer skills and thus their growth in technology.

                <br /><br />

                Along with laptops, students will be provided with access to an <strong>LMS platform</strong> (Desire 2 Learn) and an <strong> E-book platform </strong> (Vital Source).
            </p>
        </div>
    </div>





    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">Desire2Learn</h1>

        </div>
        <div class="panel-body">

            <p class="contentp">
                Desire 2 Learn is the school’s learning management software, which allows the students to perform

                many important tasks throughout their program, including:
            </p>
            <ul class="contentp">
                <li>Access course syllabi (Outcomes, Objectives, and Evaluation Criteria)</li>

                <li>Access course notes posted by your instructor</li>

                <li>View your grades online</li>

                <li>Hand in assignments or complete quizzes that are delivered online</li>

                <li>Email fellow students as well as your instructor(s)</li>

                <li>Participate in discussion boards and chat forums</li>
            </ul>
        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="contentH1">Vital Source</h1>
        </div>
        <div class="panel-body">
            <p class="contentp">
                Vital Source is the school’s E-book Platform.  The software will be installed onto your laptop and will

                allow you to access your e-books. Just like any other textbook, you will be ableto read and highlight your

                e-books.  You will also be able to print or bookmark any specific pages of interest, conduct key word

                searches as well as take advantage of any additional interactive resources available via the e-books.
            </p>
        </div>
    </div>




    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>

    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option value="38882">Anatomy &amp; Physiology</option>
                        <option value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option value="632">Community Service Worker</option>
                        <option value="39478">CPR &amp; First Aid</option>
                        <option value="818">Dental Level 2</option>
                        <option value="38883">Dental Office Procedures (abel dent)</option>
                        <option value="634">Developmental Service Worker</option>
                        <option value="38526">Early Childhood Assistant</option>
                        <option value="642">ECG</option>
                        <option value="37255">Fitness &amp; Health Promotion</option>
                        <option value="39162">Intramuscular Injection</option>
                        <option value="627">Intra-Oral Dental Assistant </option>
                        <option value="629">Massage Therapy</option>
                        <option value="633">Medical Laboratory Assistant / Technician</option>
                        <option value="630">Medical Office Administrator</option>
                        <option value="1170">Medical Terminology</option>
                        <option value="38887">Medical Transcription</option>
                        <option value="39415">Mental Health &amp; Addictions</option>
                        <option value="1169">OHIP Billing</option>
                        <option value="631">Personal Support Worker</option>
                        <option value="628">Pharmacy Assistant</option>
                        <option value="636">Phlebotomy</option>
                        <option value="1167">Principles of Nutrition</option>
                        <option value="643">PSW Upgrading</option>
                        <option value="1171">Thought Patterns</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-body panelBG">
            <h1 class="contentH1 text-center"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;CAMPUSES</h1>
            <hr class="hrpblue" />
            <p class="contentp">
                @Html.ActionLink("Brampton", "Brampton", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("Brantford", "Brantford", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">

                @Html.ActionLink("Kitchener", "Kitchener", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("London", "London", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("Scarborough", "Scarborough", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("Toronto", "Toronto", "Campuses")
            </p>
        </div>

    </div>
</div>