@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Programs";
}

<div class="leftMenuWrapper col-lg-3 custom-collapse">
    <button class="btn-brand collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-programs">
        <span class="">PROGRAMS</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button class="btn-brand collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-contact">
        <span class="">Contact Us</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <button class="btn-brand collapse-toggle visible-xs" type="button" data-toggle="collapse" data-parent="custom-collapse" data-target="#side-menu-campuses">
        <span class="">CAMPUSES</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <ul class="leftMenu list-unstyled collapse" id="side-menu-programs">
        <li class="header">PROGRAMS</li>
        <li class="item">@Html.ActionLink("Child Youth Addictions Worker", "ChildYouthAddictionsWorker", "Programs")</li>
        <li class="item">@Html.ActionLink("Community Service Worker", "CommunityServiceWorker", "Programs")</li>
        <li class="item">@Html.ActionLink("Dental Assistant II", "DentalAssistantII", "Programs")</li>
        <li class="item">@Html.ActionLink("Developmental Service Worker", "DevelopmentalServiceWorker", "Programs")</li>
        <li class="item">@Html.ActionLink("Early Child Care Assistant", "EarlyChildCareAssistant", "Programs")</li>
        <li class="item">@Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")</li>
        <li class="item">@Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")</li>
        <li class="item">@Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")</li>
        <li class="item">@Html.ActionLink("Massage Therapy Advanced Standing", "MassageTherapyAdvancedStanding", "Programs")</li>
        <li class="item">@Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")</li>
        <li class="item">@Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")</li>
        <li class="item">@Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")</li>
        <li class="item">@Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")</li>
    </ul>
    <ul class="leftMenu list-unstyled collapse" id="side-menu-contact">
        <li class="header">Contact Medix</li>
        <li class="item btn btn-brand btn-block spacer-top" id="askQuestion">Ask a Question</li>
        <li class="item btn btn-brand btn-block" id="requestCatalogue">Request Information</li>
        <li class="item btn btn-brand btn-block" id="applyOnline">Apply Online</li>
    </ul>
    <ul class="leftMenu list-unstyled collapse" id="side-menu-campuses">
        <li class="header">Campuses</li>
        <li class="item">@Html.ActionLink("All Campuses", "Index", "Campuses")</li>
        <li class="item">@Html.ActionLink("Brampton", "Brampton", "Campuses")</li>
        <li class="item">@Html.ActionLink("Brantford", "Brantford", "Campuses")</li>
        <li class="item">@Html.ActionLink("Kitchener", "Kitchener", "Campuses")</li>
        <li class="item">@Html.ActionLink("London", "London", "Campuses")</li>
        <li class="item">@Html.ActionLink("Scarborough", "Scarborough", "Campuses")</li>
        <li class="item">@Html.ActionLink("Toronto", "Toronto", "Campuses")</li>
    </ul>
</div>
<div class="col-lg-9">
    <div class="contentHeader">
        PROGRAMS
    </div>
    <div class="contentBody">
        @RenderBody()
    </div>
</div>
<div class="clearfix"></div>

<script>
    $(document).ready(function () {
        $('#applyOnline').click(function () {
            $('.popup-form-wrapper').hide();
            $('#applyNowWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#requestCatalogue').click(function () {
            $('.popup-form-wrapper').hide();
            $('#requestCatalogueWrapper').show();
            $('.form-overlay').slideDown()
        });

        $('#askQuestion').click(function () {
            $('.popup-form-wrapper').hide();
            $('#askQuestionWrapper').show();
            $('.form-overlay').slideDown()
        });
    });
</script>
