@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">ALL PROGRAMS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">All Programs</li>
    </ol>
</div>

<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <p class="contentp">
                Medix College provides training in healthcare programs preparing students for ever growing healthcare

                industry in Canada. The objective of the healthcare program training is to equip the students with the

                most current theory and practical training necessary to become successful health care professional. The

                curriculum relies on two fundamental principles; firstly, teach to foster an understanding of the material

                versus memorization of the material, and secondly, allowing the students to process information

                through practical experience.

                <br /><br />
                Practical experience is provided to our students through laboratories and

                an opportunity to shadow experienced workers in the field.  Professional healthcare training helps

                Medix students to secure employment in various prestigious health care organizations across Ontario.
            </p>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-bookmark blueGoldBorder f20"></span> &nbsp;  SEARCH BY PROGRAMS<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th width="50%" class="contentH3-blue">@Html.ActionLink("Community Service Worker", "CommunityServiceWorker", "Programs")</th>
                            <td width="50%">
                                Brampton<br />
                                Brantford<br />
                                Kitchener<br />
                                London<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Child Youth Addictions Worker", "ChildYouthAddictionsWorker", "Programs")</th>
                            <td>
                                Brantford<br />
                                Scarborough
                            </td>
                        </tr>

                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Developmental Service Worker", "DevelopmentalServiceWorker", "Programs")</th>
                            <td>
                                Brantford<br />
                                Kitchener<br />
                                London<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Early Child Care Assistant", "EarlyChildCareAssistant", "Programs")</th>
                            <td>
                                Brampton<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")</th>
                            <td>
                                Brampton<br />
                                London<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")</th>
                            <td>
                                Brampton<br />
                                Brantford<br />
                                Kitchener<br />
                                London<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")</th>
                            <td>
                                Brampton<br />
                                Kitchener<br />
                                London<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Massage Therapy Advanced Standing", "MassageTherapyAdvancedStanding", "Programs")</th>
                            <td>
                                Brampton<br />
                                Kitchener<br />
                                London<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")</th>
                            <td>
                                Brampton<br />
                                Kitchener<br />
                                London<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")</th>
                            <td>
                                Brampton<br />
                                Brantford<br />
                                Kitchener<br />
                                London<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")</th>
                            <td>
                                Brampton<br />
                                Brantford<br />
                                Kitchener<br />
                                London<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>
                        <tr>
                            <th class="contentH3-blue">@Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")</th>
                            <td>
                                Brampton<br />
                                Brantford<br />
                                Kitchener<br />
                                London<br />
                                Scarborough<br />
                                Toronto
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseTwo" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-map-marker blueGoldBorder f20"></span> &nbsp; SEARCH BY CAMPUS <span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>
                    </a>
                </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">

                    <table class="table table-bordered">
                        <tr>
                            <th width="100%" class="contentH3-blue programtableheader" colspan="2">@Html.ActionLink("BRAMPTON", "Brampton", "Campuses")</th>

                        </tr>
                        <tr>
                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Early Childcare Assistant", "EarlyChildCareAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("ECA", "EarlyChildCareAssistant", "Programs")</td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("FHP", "FitnessHealthPromotion", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("IODA", "IntraOralDentalAssistant", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MT", "MassageTherapy", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MLAT", "MedicalLabAssistantTechnician", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MOAD", "MedicalOfficeAdministrator", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PSW", "PersonalSupportWorker", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PA", "PharmacyAssistant", "Programs")</td>
                        </tr>

                    </table>

                    <br />

                    <table class="table table-bordered">
                        <tr>
                            <th width="100%" class="contentH3-blue programtableheader" colspan="2">@Html.ActionLink("BRANTFORD", "Brantford", "Campuses")</th>

                        </tr>
                        <tr>
                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Child Youth Addictions Worker", "ChildYouthAddictionsWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("CYW", "ChildYouthAddictionsWorker", "Programs")</td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("FHP", "FitnessHealthPromotion", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("IODA", "IntraOralDentalAssistant", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MT", "MassageTherapy", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MLAT", "MedicalLabAssistantTechnician", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MOAD", "MedicalOfficeAdministrator", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PSW", "PersonalSupportWorker", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PA", "PharmacyAssistant", "Programs")</td>
                        </tr>

                    </table>

                    <br />

                    <table class="table table-bordered">
                        <tr>
                            <th width="100%" class="contentH3-blue programtableheader" colspan="2">@Html.ActionLink("KITCHENER", "Kitchener", "Campuses")</th>

                        </tr>


                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("FHP", "FitnessHealthPromotion", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("IODA", "IntraOralDentalAssistant", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MT", "MassageTherapy", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MLAT", "MedicalLabAssistantTechnician", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MOAD", "MedicalOfficeAdministrator", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PSW", "PersonalSupportWorker", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PA", "PharmacyAssistant", "Programs")</td>
                        </tr>

                    </table>

                    <br />

                    <table class="table table-bordered">
                        <tr>
                            <th width="100%" class="contentH3-blue programtableheader" colspan="2">@Html.ActionLink("LONDON", "London", "Campuses")</th>

                        </tr>


                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("FHP", "FitnessHealthPromotion", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("IODA", "IntraOralDentalAssistant", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MT", "MassageTherapy", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MLAT", "MedicalLabAssistantTechnician", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MOAD", "MedicalOfficeAdministrator", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PSW", "PersonalSupportWorker", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PA", "PharmacyAssistant", "Programs")</td>
                        </tr>

                    </table>

                    <br />

                    <table class="table table-bordered">
                        <tr>
                            <th width="100%" class="contentH3-blue programtableheader" colspan="2">@Html.ActionLink("SCARBOROUGH", "Scarborough", "Campuses")</th>

                        </tr>


                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("FHP", "FitnessHealthPromotion", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("IODA", "IntraOralDentalAssistant", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MT", "MassageTherapy", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MLAT", "MedicalLabAssistantTechnician", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MOAD", "MedicalOfficeAdministrator", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PSW", "PersonalSupportWorker", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PA", "PharmacyAssistant", "Programs")</td>
                        </tr>

                    </table>

                    <br />

                    <table class="table table-bordered">
                        <tr>
                            <th width="100%" class="contentH3-blue programtableheader" colspan="2">@Html.ActionLink("TORONTO", "Toronto", "Campuses")</th>

                        </tr>


                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Fitness Health Promotion", "FitnessHealthPromotion", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">
                                @Html.ActionLink("FHP", "FitnessHealthPromotion", "Programs")
                            </td>

                        </tr>

                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Intra Oral Dental Assistant", "IntraOralDentalAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("IODA", "IntraOralDentalAssistant", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Massage Therapy", "MassageTherapy", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MT", "MassageTherapy", "Programs")</td>


                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Lab Assistant Technician", "MedicalLabAssistantTechnician", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MLAT", "MedicalLabAssistantTechnician", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Medical Office Administrator", "MedicalOfficeAdministrator", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("MOAD", "MedicalOfficeAdministrator", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Personal Support Worker", "PersonalSupportWorker", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PSW", "PersonalSupportWorker", "Programs")</td>
                        </tr>
                        <tr>

                            <td width="65%" class="contentH3-blue">
                                @Html.ActionLink("Pharmacy Assistant", "PharmacyAssistant", "Programs")<br />
                            </td>
                            <td width="35%" class="contentH3-blue">@Html.ActionLink("PA", "PharmacyAssistant", "Programs")</td>
                        </tr>

                    </table>




                </div>
            </div>
        </div>
    </div>

    <br />

</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrpblue" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="246">Brampton</option>
                        <option value="243">Brantford</option>
                        <option value="242">Kitchener</option>
                        <option value="244">London</option>
                        <option value="241">Scarborough</option>
                        <option value="240">Toronto</option>
                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option value="38882">Anatomy &amp; Physiology</option>
                        <option value="39877">Child and Youth Care with Addictions Support Worker</option>
                        <option value="632">Community Service Worker</option>
                        <option value="39478">CPR &amp; First Aid</option>
                        <option value="818">Dental Level 2</option>
                        <option value="38883">Dental Office Procedures (abel dent)</option>
                        <option value="634">Developmental Service Worker</option>
                        <option value="38526">Early Childhood Assistant</option>
                        <option value="642">ECG</option>
                        <option value="37255">Fitness &amp; Health Promotion</option>
                        <option value="39162">Intramuscular Injection</option>
                        <option value="627">Intra-Oral Dental Assistant </option>
                        <option value="629">Massage Therapy</option>
                        <option value="633">Medical Laboratory Assistant / Technician</option>
                        <option value="630">Medical Office Administrator</option>
                        <option value="1170">Medical Terminology</option>
                        <option value="38887">Medical Transcription</option>
                        <option value="39415">Mental Health &amp; Addictions</option>
                        <option value="1169">OHIP Billing</option>
                        <option value="631">Personal Support Worker</option>
                        <option value="628">Pharmacy Assistant</option>
                        <option value="636">Phlebotomy</option>
                        <option value="1167">Principles of Nutrition</option>
                        <option value="643">PSW Upgrading</option>
                        <option value="1171">Thought Patterns</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Question: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    <div class="panel panel-default">
        <div class="panel-body panelBG">
            <h1 class="contentH1 text-center"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;CAMPUSES</h1>
            <hr class="hrpblue" />
            <p class="contentp">
                @Html.ActionLink("Brampton", "Brampton", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("Brantford", "Brantford", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">

                @Html.ActionLink("Kitchener", "Kitchener", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("London", "London", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("Scarborough", "Scarborough", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("Toronto", "Toronto", "Campuses")
            </p>
        </div>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#programCampusList').change(function () {
            var campusId = $('#programCampusList option:selected').val();

            $.each($("#programProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });
    });
</script>