@{
    Layout = "~/Views/Programs/_ProgramsLayout.cshtml";
}

<div class="col-sm-12 botMARG">
    <h1 class="contentPageH1">ALL PROGRAMS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="active contentp">All Programs</li>
    </ol>
    <img class="img-responsive" width="100%" src="/Content/images/all-programs.jpg" alt="IT professional working on a computer" />

</div>

<div class="col-sm-8 mid-padding">
    <div class="panel panel-default">

        <div class="panel-body">
            <p class="contentp">
                New Horizons is a world leader in IT training. New Horizons Computer Learning Center of Toronto is powered by ObjectSharp Corporation, and has joined the New Horizons Worldwide, Inc. network - the world’s largest computer training company. New Horizons’ business strategy focuses on continued worldwide expansion to meet the ever-increasing demands of the technology revolution. The New Horizons network provides students more ways to learn, more courses at more times and in more locations than any other company in the industry.
                <br/><br/>
                A continued skills shortage for IT professionals, ever-changing operating systems, new technology developments and the expansion of the Internet are driving tremendous demand for worldwide training. New Horizons is the best-positioned training provider, with the largest international network that includes over 2,100 classrooms, more than 2,400 instructors, and in excess of 2,100 account executives (salespeople). 
            </p>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseIEP" href="#collapseIEP" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-bookmark blueGoldBorder12 f20"></span> &nbsp;  IT ENTERPRISE PROFESSIONAL<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseIEP" class="panel-collapse collapse">
                <div class="panel-body">
                    <img class="img-responsive" width="100%" src="/Content/images/program-itenterprise.jpg" alt="IT professional working on a computer" />
                    <br /><p class="contentp">
                        The IT Help Desk Associate program is designed for those who wish to provide first-line technical support to computer users experiencing difficulties with computer hardware and with computer applications and communications software. The goal of this program is to increase the knowledge and technical competency of entry-level Help Desk Associates to demonstrate a wide range of skills required in today’s technical environments.
                    </p>
                    <p>@Html.ActionLink("Go to IT Enterprise Professional", "ITEnterpriseProfessional", "Programs")</p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseITH" href="#collapseITH" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-bookmark blueGoldBorder12 f20"></span> &nbsp;  IT HELPDESK ASSOCIATE<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseITH" class="panel-collapse collapse">
                <div class="panel-body">
                    <img class="img-responsive" width="100%" src="/Content/images/program-ithelpdesk.jpg" alt="IT help desk professional" />

                    <br /> <p class="contentp">
                        The IT Help Desk Associate program is designed for those who wish to provide first-line technical support to computer users experiencing difficulties with computer hardware and with computer applications and communications software. The goal of this program is to increase the knowledge and technical competency of entry-level Help Desk Associates to demonstrate a wide range of skills required in today’s technical environments.
                    <p>@Html.ActionLink("Go to IT Helpdesk Associate", "ITHelpDeskAssociate", "Programs")</p>

                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseITO" href="#collapseITO" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-bookmark blueGoldBorder12 f20"></span> &nbsp;  IT OFFICE<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseITO" class="panel-collapse collapse">
                <div class="panel-body">
                    <img class="img-responsive" width="100%" src="/Content/images/program-itoffice.jpg" alt="IT office professional male smiling" />
                    <br /><p class="contentp">
                        The IT Office program is designed for those who wish to provide office and technical customer service support.  The goal of this program is to increase the knowledge and technical competency to support technicians with office support functions, communicate electronically and in person with customers, collect, organize and maintain a problems and solutions log for use by technical support analysts, and prepare reports and communication to customers and internal teams.
                    <p>@Html.ActionLink("IT Office", "ITOffice", "Programs")</p>

                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseITSAP" href="#collapseITSAP" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-bookmark blueGoldBorder12 f20"></span> &nbsp;  IT SERVICE ADMINISTRATOR<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseITSAP" class="panel-collapse collapse">
                <div class="panel-body">
                    <img class="img-responsive" width="100%" src="/Content/images/it-sap-program.jpg" alt="IT server admin professional" />
                    <br />
                    <p class="contentp">
                        This Information Technology program is designed to empower students with skills and knowledge to increase their workplace competence and professional advantage. A balanced learning approach provides students with an appropriate skill set for their field of study while preparing them for the daily activities and duties to work as an IT Professional.
                    </p>
                    <p>@Html.ActionLink("IT Server Administrator", "ITServerAdministrator", "Programs")</p>

                </div>
            </div>
        </div>
    </div>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading whiteBG">
                <div class="panel-title">
                    <a data-toggle="collapse" data-target="#collapseIST" href="#collapseIST" class="contentH2 noDecoration">
                        <span class="glyphicon glyphicon-bookmark blueGoldBorder12 f20"></span> &nbsp;  IT SERVICE TECHNICIAN<span class="glyphicon glyphicon-chevron-down pull-right blueblueBorder"></span>

                    </a>
                </div>
            </div>

            <div id="collapseIST" class="panel-collapse collapse">
                <div class="panel-body">
                    <img class="img-responsive" width="100%" src="/Content/images/program-itservicetechnician.jpg" alt="IT server admin professional" />
                    <br /><p class="contentp">
                        The IT Service Technician program is designed for those who wish to provide first-line technical support to computer users experiencing difficulties with computer hardware and with computer applications and communications software.  The goal of this program is to increase the knowledge and technical competency of entry level IT Service Technicians so they can demonstrate a wide range of skills required on the job in today’s technical environments.
                    </p><p>@Html.ActionLink("IT Service Technician", "ITServiceTechnician", "Programs")</p>

                </div>
            </div>
        </div>
    </div>

    <br />

</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrp11" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="24005">New Horizons Toronto</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option class="0 24005" value="41050">IT Enterprise Professional</option>
                        <option class="0 24005" value="41049">IT Help Desk Associate</option>
                        <option class="0 24005" value="41048">IT Office</option>
                        <option class="0 24005" value="41040">IT Server Administrator Professional</option>
                        <option class="0 24005" value="41051">IT Service Technician</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#programCampusList').change(function () {
            var campusId = $('#programCampusList option:selected').val();

            $.each($("#programProgramList option"), function (index, value) {
                if ($(value).hasClass(campusId) !== true) {
                    $(value).hide();
                } else {
                    $(value).show();
                }
            });
        });
    });
</script>