@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Certificates";
}

<div class="leftMenuWrapper col-lg-3">
    <ul class="leftMenu list-unstyled">
        <li class="header"><h4>Certificates</h4></li>
        <li class="item">@Html.ActionLink("All Certificates", "CertificatesContinuingEducation", "Certificates")</li>
        <li class="item">@Html.ActionLink("ABEL-Dent", "AbelDent", "Certificates")</li>
        <li class="item">@Html.ActionLink("Basic Wound Treatment", "BasicWoundTreatment", "Certificates")</li>
        <li class="item">@Html.ActionLink("Electrocardiogram", "Electrocardiogram", "Certificates")</li>
        <li class="item">@Html.ActionLink("Emotional First Aid", "EmotionalFirstAid", "Certificates")</li>
        <li class="item">@Html.ActionLink("English Second Language", "EnglishSecondLanguage", "Certificates")</li>
        <li class="item">@Html.ActionLink("English Skills - Healthcare Workers", "EnglishSkillsHealthcareWorkers", "Certificates")</li>
        <li class="item">@Html.ActionLink("First Aid & CPR", "FirstAidCPR", "Certificates")</li>
        <li class="item">@Html.ActionLink("Food Handler Safety", "FoodHandlerSafety", "Certificates")</li>
        <li class="item">@Html.ActionLink("Home Childcare Management", "HomeChildCareManagement", "Certificates")</li>
        <li class="item">@Html.ActionLink("Intramuscular Injections", "IntramuscularInjections", "Certificates")</li>
        <li class="item">@Html.ActionLink("Intro - Developmental Disabilities Services", "IntroductionDevelopmentalDisabilitiesServices", "Certificates")</li>
        <li class="item">@Html.ActionLink("Intro - Swedish Massage", "IntroductionSwedishMassage", "Certificates")</li>
        <li class="item">@Html.ActionLink("Mental Health Addictions", "MentalHealthAddictions", "Certificates")</li>
        <li class="item">@Html.ActionLink("Phlebotomy", "Phlebotomy", "Certificates")</li>
        <li class="item">@Html.ActionLink("Soft Tissue Back Injury Prevention", "SoftTissueBackInjuryPrevention", "Certificates")</li>
        <li class="item">@Html.ActionLink("Urinalysis", "Urinalysis", "Certificates")</li>
    </ul>
    <ul class="leftMenu list-unstyled">
        <li class="header">Contact Medix</li>
        <li class="item">Ask a Question</li>
        <li class="item">Request Information</li>
        <li class="item">Apply Online</li>
    </ul>
    <ul class="leftMenu list-unstyled">
        <li class="header">Campuses</li>
        <li class="item">Brantford</li>
        <li class="item">Brampton</li>
        <li class="item">Kitchener</li>
        <li class="item">London</li>
        <li class="item">Scarborough</li>
        <li class="item">Toronto</li>
        <li class="item">Medix Online</li>
    </ul>
</div>
<div class="col-lg-9">
    <div class="contentHeader">
        CERTIFICATES
    </div>
    <div class="contentBody">
        @RenderBody()
    </div>
</div>
<div class="clearfix"></div>
