@{
    Layout = "~/Views/Certificates/_CertificatesLayout.cshtml";
}

<div class="col-sm-12">
    <h1 class="contentPageH1">BASIC WOUND TREATMENT<small class="contentH1-small">&nbsp;CERTIFICATE</small></h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("All Certificates", "AllCertificates", "Certificates")</li>
        <li class="active contentp">Basic Wound Treatment</li>
    </ol>
</div>

<div class="col-sm-8 mid-padding">


    <div class="panel panel-default">
        <div class="panel-body">


            <h1 class="contentH1">Workshop Objective</h1><hr class="hrp" />


            <p class="contentp">
                This workshop has been designed for health care workers to undertake proper treatments and dressings

                related to wound care and removal of sutures and clips. The following areas will be covered:
            </p>

            <ul class="contentp">
                <li>Anatomy & physiology of the skin</li>

                <li>What is a wound (including pressure ulcers)?</li>

                <li>Classification of wounds</li>

                <li>Wound healing</li>

                <li>Complications</li>

                <li>Principles of basic wound care</li>

                <li>Aseptic/Non touch technique</li>

                <li>Removal of sutures & staples</li>

                <li>Wound evaluation</li>

                <li>Choice of dressings</li>

                <li>Burns</li>

                <li>Accountability & professional issues</li>

                <li>Documentation & record keeping</li>

                <li>Practical workshop</li>

                <li>Evaluation</li>
            </ul>
            <br />


            <h1 class="contentH1">Course Prerequisite</h1><hr class="hrp" />

            <ul class="contentp">
                <li>Degree or Diploma in a medical discipline OR a minimum of 1 year experience in a medical setting</li>

                <li>Current Medix students should be at least halfway through completion of their current program and be in good standing</li>

                <li>English Proficiency</li>
            </ul>
            <br />

            <h1 class="contentH1">Course Duration and Schedule</h1><hr class="hrp" />


            <ul class="contentp">
                <li>Full Saturday, 9:00am-5:00pm</li>
            </ul>
            <br />

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="contentH1">Tuition</h1><hr class="hrp" />
                    <ul class="contentp">
                        <li>
                            $225.00 CAD (or $175.00 CAD if you are a current Medix student or have registered by early bird deadline: Contact your campus for details)
                            <ul>
                                <li>8-hour training session</li>

                                <li>
                                    Course training materials
                                </li>

                                <li>Certificate of completion</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>




            <p class="contentp">
                This program does not require approval under the Private Career Colleges Act, 2005.

            </p>


        </div>
    </div>
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CERTIFICATES DIRECTORY", "AllCertificates", "Certificates")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>

    <br />
    </div>

    <div class="col-sm-4 pull-right no-padding">
        <div class="panel panel-default">

            <div class="panel-body">
                <form id="programsQuestionsForm" name="programsQuestionsForm" method="post" class="questionsForm" action="/home/askquestionprogram">
                    <input type="hidden" name="ORGID" value="240" />
                    <input type="hidden" name="MailListID" value="240001" />
                    <h1 class="contentH1 text-center">
                        <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                    </h1><hr class="hrpblue" />
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                        <input type="text" class="form-control pull-right" name="FirstName">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                        <input type="email" class="form-control pull-right" name="Email">
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="CampusID">
                            <option value="0">Select</option>
                            <option value="246">Brampton</option>
                            <option value="243">Brantford</option>
                            <option value="242">Kitchener</option>
                            <option value="244">London</option>
                            <option value="241">Scarborough</option>
                            <option value="240">Toronto</option>
                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                        <select class="form-control pull-right" name="ProgramID">
                            <option value="0">Select</option>
                            <option value="38882">Anatomy &amp; Physiology</option>
                            <option value="39877">Child and Youth Care with Addictions Support Worker</option>
                            <option value="632">Community Service Worker</option>
                            <option value="39478">CPR &amp; First Aid</option>
                            <option value="818">Dental Level 2</option>
                            <option value="38883">Dental Office Procedures (abel dent)</option>
                            <option value="634">Developmental Service Worker</option>
                            <option value="38526">Early Childhood Assistant</option>
                            <option value="642">ECG</option>
                            <option value="37255">Fitness &amp; Health Promotion</option>
                            <option value="39162">Intramuscular Injection</option>
                            <option value="627">Intra-Oral Dental Assistant </option>
                            <option value="629">Massage Therapy</option>
                            <option value="633">Medical Laboratory Assistant / Technician</option>
                            <option value="630">Medical Office Administrator</option>
                            <option value="1170">Medical Terminology</option>
                            <option value="38887">Medical Transcription</option>
                            <option value="39415">Mental Health &amp; Addictions</option>
                            <option value="1169">OHIP Billing</option>
                            <option value="631">Personal Support Worker</option>
                            <option value="628">Pharmacy Assistant</option>
                            <option value="636">Phlebotomy</option>
                            <option value="1167">Principles of Nutrition</option>
                            <option value="643">PSW Upgrading</option>
                            <option value="1171">Thought Patterns</option>

                        </select>
                    </div>
                    <div class="input-group spacer-top">
                        <label class="pull-left contentp">Comments: </label>
                        <textarea class="form-control pull-right" name="Comment2"></textarea>
                    </div>
                    <div class="small-text spacer-top text-center grayColor">
                        Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                    </div>
                    <div class="text-center">
                        <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                    </div>
                </form>
            </div>

        </div>


    

    <div class="panel panel-default">
        <div class="panel-body panelBG">
            <h1 class="contentH1 text-center"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;CAMPUSES</h1>
            <hr class="hrpblue" />
            <p class="contentp">
                @Html.ActionLink("Brampton", "Brampton", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("Brantford", "Brantford", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">

                @Html.ActionLink("Kitchener", "Kitchener", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("London", "London", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("Scarborough", "Scarborough", "Campuses")
            </p> <hr class="hrp" />
            <p class="contentp">
                @Html.ActionLink("Toronto", "Toronto", "Campuses")
            </p>
        </div>

    </div>
