@{
    Layout = "~/Views/Admissions/_AdmissionsLayout.cshtml";
}

@{
    ViewBag.Title = "Financial Options - New Horizons";
    ViewBag.PageDescription = "Learn more about the Financial options available to attend New Horizons.";
}

<div class="col-sm-12 botMARG">

    <h1 class="contentPageH1">FINANCIAL OPTIONS</h1>
    <ol class="breadcrumb">
        <li class="contentp">@Html.ActionLink("Home", "Index", "Home")</li>
        <li class="contentp">@Html.ActionLink("Admissions", "Index", "Admissions")</li>
        <li class="active contentp">Financing Options</li>
    </ol>
    <img class="img-responsive" width="100%" src="/Content/images/nhit-chart.jpg" alt="woman handing paper to another person" />

</div>


<div class="col-sm-8 mid-padding">

    <div class="panel panel-default">
        <div class="panel-body">
            <p class="contentp">
                A post­secondary education is a big investment. Fortunately, we at New Horizons have a dedicated

                team to assist students with financing their education. There are many payment options

                available to New Horizons students. A brief description of some financing options available is outlined

                below.
            </p>
            <p class="contentH2"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Financial assistance may be available for those who qualify. Please contact us for more details regarding Financial Assistance.</p>
        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-body">
            <h1 class="contentH1">FINANCIAL OPTIONS INCLUDE:</h1><hr class="hrp" />
            <p class="contentp">@Html.ActionLink("Ontario Student Assistance Program (OSAP)", "OSAP", "Admissions")</p>
            <hr class="hrp" />
            <p class="contentp">@Html.ActionLink("Second Careers", "SecondCareers", "Admissions")</p>
            <hr class="hrp" />
            <p class="contentp">@Html.ActionLink("Out of Province", "OutOfProvinceStudents", "Admissions")</p>
            <hr class="hrp" />
            <p class="contentp">@Html.ActionLink("Student Lines of Credit", "StudentLinesOfCredit", "Admissions")</p>
            <hr class="hrp" />
            <p class="contentp">@Html.ActionLink("Lifelong Learning Plan", "LifelongLearningPlan", "Admissions")</p>
            <hr class="hrp" />
            <p class="contentp">@Html.ActionLink("RESP", "RegisteredEducationSavingsPlans", "Admissions")</p>
            <hr class="hrp" />
            <p class="contentp">@Html.ActionLink("Employment Ontario", "EmploymentOntario", "Admissions")</p>
            <hr class="hrp" />
            <p class="contentp">@Html.ActionLink("Monthly Payment Plan", "Index", "Admissions")</p>

        </div>
    </div>
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO PROGRAM DIRECTORY", "AllPrograms", "Programs")</button>
    <br />
    <button type="button" class="btn btn-default btn-lg btn-block contentH2"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;@Html.ActionLink("GO TO CAMPUS DIRECTORY", "Index", "Campuses")</button>
    <br />
</div>

<div class="col-sm-4 pull-right no-padding">
    <div class="panel panel-default bluePANEL">

        <div class="panel-body">
            <form id="programsQuestionsForm" name="programsQuestionsForm" data-parsley-validate="" method="post" class="questionsForm" action="/home/askquestionprogram">
                <input type="hidden" name="ORGID" value="240" />
                <input type="hidden" name="MailListID" value="240001" />
                <h1 class="contentH1 text-center">
                    <span class="glyphicon glyphicon-comment"></span>&nbsp; ASK A QUESTION
                </h1><hr class="hrp11" />
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">First Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="FirstName" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Email: <span class="text-danger">*</span></label>
                    <input type="email" class="form-control pull-right" name="Email" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Telephone: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control pull-right" name="Telephone" required="">
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Location: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="CampusID">
                        <option value="0">Select</option>
                        <option value="24005">New Horizons Toronto</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Program: <span class="text-danger">*</span></label>
                    <select class="form-control pull-right" name="ProgramID">
                        <option value="0">Select</option>
                        <option class="0 24005" value="41050">IT Enterprise Professional</option>
                        <option class="0 24005" value="41049">IT Help Desk Associate</option>
                        <option class="0 24005" value="41048">IT Office</option>
                        <option class="0 24005" value="41040">IT Server Administrator Professional</option>
                        <option class="0 24005" value="41051">IT Service Technician</option>

                    </select>
                </div>
                <div class="input-group spacer-top">
                    <label class="pull-left contentp">Comments: </label>
                    <textarea class="form-control pull-right" name="Comment2"></textarea>
                </div>
                <div class="small-text spacer-top text-center grayColor">
                    Please contact me with more information relating to the school and program(s). I understand I may cancel my consent at anytime.
                </div>
                <div class="text-center">
                    <input id="applyNowSubmit" type="submit" value="Submit" class="btn popup-form-button spacer-top btn-block" />
                </div>
            </form>
        </div>

    </div>

    
</div>